body {
	font-family: sans-serif;
	background-color: #F7F5F3;
}

.logo {
	margin-right: auto;
	margin-left: -10px;
}

.primary {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}

.primary ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-shrink: 0;
	/*width: 1920px;*/
	/*height: 120px;*/
	/*align-items: center;*/
	list-style: none;
}

.primary li {
	font-size: 18px;
	/*align-self: center;*/
}

.primary li + li {
	padding-left: 30px;
}

.primary a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 30px 0;
	/*height: 100px;*/
	/*text-self: center;*/
}

.search {
	appearance: none;
	border-radius: 100px;
	height: 50px;
	width: 350px;
	padding: 11px 19px 11px 35px;
	border: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	margin-left: 100px;
}

.icon2, .icon3 {
	width: 25px;
	height: 28px;
	box-sizing: border-box;
	/*align-self: center;*/
	/*border: 1px solid lightblue;*/
	margin-left: auto;
}

.icon2:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 28px;
}

.icon3:before {
    content: "\f290";
    font-family: FontAwesome;
    font-size: 24px; 
}

.icon1 {
	width: 24px;
	height: 24px;
	align-self: center;
	position: absolute;
	top: 13px;
	right: 12px;
	/*border: 1px solid lightblue;*/
	font-size: 22px;
}

.icon1:before {
    content: "\f002";
    font-family: FontAwesome;
}

.s1 {
	/*align-self: center;*/
	padding-left: 100px;
	position: relative;
}

.breadcrumbs {
	list-style: none;
	display: flex;
	padding: 0;

}

.breadcrumbs a {
	text-decoration: none;
	padding: 20px 10px 20px 0;
	color: black;
	margin-right: 30px;
}

.breadcrumbs li {
	margin-right: auto;
}

.topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	opacity: 70%;
}

.rec {
	width: 158px;
	height: 7px;
	background: #2D7391;
	border-radius: 20px;
	margin-left: 40px;
}

.free {
	display: flex;
	flex-direction: row;
	
}

.main {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.main h1 {
	font-size: 55px;
	font-weight: 500;
	margin: 70px 0 10px;
} 

.kind {
	display: flex;
	flex-direction: row;
	padding: 0;
	list-style: none;
}

.kind a {
	/*text-decoration: none;*/
	color: black;
	font-size: 20px;
	font-weight: 400;
	padding: 15px 10px 15px 0;
	margin-right: 20px;
}

.filterstroke ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-left: 16px;
}

.choosestroke a {
	text-decoration: none;
	color: #383D40;
	padding: 10px 15px;
}

.choosestroke {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filterstroke {
	display: flex;
	align-items: center;
}

.filterstroke li {
	border: 1px solid #383D40;
	border-radius: 50px;
	padding: 10px 0;
	box-sizing: border-box;
	margin-right: 10px;
}

.filter {
	font-size: 20px;
	font-weight: 400;
}

.sort {
	border: 1px solid #383D40;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
	max-width: 240px;
	align-items: center;
	box-sizing: border-box;
}

.icon4::before {
	content: "\f107";
    font-family: FontAwesome;
    font-size: 20px;
}    

.product-grid {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.product-grid div {
	/*box-sizing: border-box;*/
}

.product-name {
	font-size: 16px;
	font-weight: 400;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.price {
	font-size: 24px;
	font-weight: 500;
}

.paging {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 130px;
}

.paging ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.paging li {
	font-size: 20px;
	font-weight: 500;
	margin-right: 10px;
	border: 1px solid #2D7391;
	border-radius: 50px;
}

.paging a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 12px;
	text-align: center;
	min-width: 44px;
	box-sizing: border-box;
}

.nextpage {
	/*position: absolute;*/
	top: 0;
	right: 0;
	background: #2D7391;
	border-radius: 50px;
	/*padding: 10px 23px;*/
	/*display: flex;*/
	/*justify-content: start;	*/
	min-width: 230px;
	position: relative;
}

.nextpage a:after {
	content: "\f105";
    font-family: FontAwesome;
    font-size: 20px;
    /*margin-left: 33px;*/
    position: absolute;
    margin-left: auto;
    right: 13px
}

.nextpage a {
	color: white;
	font-size: 17px;
	font-weight: 500;
	/*margin-left: auto;*/
	text-align: center;
	height: 100%;
	line-height: 23px;
	padding-left: 30px;
	padding-right: 30px;
}

.activepage {
	background: #2D7391;
	border-radius: 50px;
	border: none;
}

.activepage a {
	color: white;
}

.paging .dots {
	border: none;
	padding: 12px 0;
}

article {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;
	margin-bottom: 130px;
}

article p {
	width: 40%;
	font-size: 20px;
	font-weight: 500;
}

article h2 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
}